body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(116, 185, 255, 0.5) rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(116, 185, 255, 0.5);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(116, 185, 255, 0.7);
}
