html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
